#Ignore long file datas
datas/test_text
datas/test_variants
datas/training_text
datas/training_variants
datas/stage2_test_text.csv
datas/stage2_test_variants.csv
src/__pycache__/*
scripts/__pycache__/*
scripts/BERT_model/__pycache__/*

results/*.model
results/log*
!results/cbow_3284.model
!results/model1_time_compilation.txt
!results/skipgram_3284.model
!results/cbow_A3316_WS20_E10000_B10000.model
!results/cbow_A3316_WS20_E20_B10000_R2000_CTrue.model
!results/skipgram_A3316_WS20_E20_B10000_R2000_CTrue.model

results/Models/*
!results/Models/cbow/cbow_cnn_simple_Concat_gv_gv.model
!results/Models/skipgram/skipgram_cnn_simple_Concat_ca.model
!results/Models/cbow_over_sampling/cbow_os_cnn_simple_Separate_gv.model
!results/Models/skipgram_over_sampling/skipgram_os_cnn_simple_Concat_ca.model



notebook/.ipynb_checkpoints/*
