#Ignore long file datas
datas/test_text
datas/test_variants
datas/training_text
datas/training_variants
src/__pycache__/*
scripts/__pycache__/*
scripts/BERT_model/__pycache__/*

results/*.model
!results/cbow_3284.model
!results/model1_time_compilation.txt
!results/skipgram_3284.model
!results/cbow_A3316_WS20_E10000_B10000.model

notebook/.ipynb_checkpoints/*
